{% extends 'base.html' %}
{% load i18n %}
{% load tml %}
{% load tml_inline %}
{% block content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form method="POST" action="." role="form">
            {% csrf_token %}
            {{form.error}}
            <div class="row">
              <div class="col-lg-6 col-sm-7">

                <div class="recipe">
                  <h2>
                    {% tr %}Update Recipe{% endtr %}
                  </h2>

                  <div>
                    {{form.name}}
                    {{form.name.errors}}
                  </div>

                  <div style="padding: 10px 0;">
                    {{form.description}}
                    {{form.description.errors}}
                  </div>

                  <div style="padding-bottom: 10px;">
                    {{form.image}}
                    {{form.image.errors}}
                  </div>

                  <h5>
                    {% tr %}Category{% endtr %}
                  </h5>

                  <div style="padding-bottom: 10px">
                    {{form.categories}}
                    {{form.categories.errors}}
                  </div>

                  <div id="new_category_field" style="padding-bottom: 10px; <%='display:none' unless @recipe.category_id.blank? %>">
                    {{form.new_category}}
                    {{form.new_category.errors}}
                  </div>

                  <h5>
                    {% tr %}Preparation{% endtr %}
                  </h5>
                  <p>
                    {{form.preparation}}
                    {{form.preparation.errors}}
                  </p>
                  <hr>
                  <h5>
                    {% tr %}Directions{% endtr %}
                  </h5>
                  {{form.directions}}
                  <table class="table recipe-table">
                        {% if directions %}
                        {% for item in directions %}
                          <tr>
                            <td>
                              <textarea name="direction[]" class="form-control direction" rows="6" placeholder='{% trs "Directions" nowrap %}' onchange="storeDirectionsData(this)">{{item.description}}</textarea>
                            </td>
                            <td style="width: 80px;">
                              <a class="btn btn-default" onclick="addElement(this); return false;" href="#" role="button" style="display:inline-block; width: 30px; padding: 5px 5px;">+</a>
                              <a class="btn btn-default" onclick="removeElement(this); return false;" href="#" role="button" style="display:inline-block;  width: 30px; padding: 5px 5px;">-</a>
                            </td>
                          </tr>
                        {% endfor %}
                        {% else %}
                          <tr>
                            <td>
                              <textarea name="direction[]" class="form-control direction" rows="6" placeholder='{% trs "Directions" nowrap %}' onchange="storeDirectionsData(this)">{{item.description}}</textarea>
                            </td>
                            <td style="width: 80px;">
                              <a class="btn btn-default" onclick="addElement(this); return false;" href="#" role="button" style="display:inline-block; width: 30px; padding: 5px 5px;">+</a>
                              <a class="btn btn-default" onclick="removeElement(this); return false;" href="#" role="button" style="display:inline-block;  width: 30px; padding: 5px 5px;">-</a>
                            </td>
                          </tr>
                        {% endif %}
                  </table>
                </div>
              </div>
              <div class="col-sm-5 col-lg-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h5>
                      {% tr %}Ingredient List{% endtr %}
                    </h5>
                    {{form.ingredients}}
                    <table class="table recipe-table">
                      <tbody>
                        {% if ingredients %}
                          {% for item in ingredients %}
                          <tr>
                            <td>
                                <input class="ingredients_quantity" onchange="storeIngredientsData(this)" name="recipe[ingredients][][quantity]" placeholder='{% trs "Amount" nowrap %}' type="text" class="form-control" style="width: 60px; display: inline-block" value="{{item.quantity}}" />
                                <input class="ingredients_measurements" onchange="storeIngredientsData(this)" name="recipe[ingredients][][measurements]" placeholder='{% trs "Measurements" nowrap %}' type="text" class="form-control" style="width: 70px; display: inline-block" value="{{item.measurements}}" />
                                <input class="ingredients_name" onchange="storeIngredientsData(this)" name="recipe[ingredients][][name]" placeholder='{% trs "Name" nowrap %}' type="text" class="form-control" style="width: 120px; display: inline-block" value="{{item.name}}" />
                            </td>
                            <td>
                              <a class="btn btn-default" href="#" onclick="addElement(this); return false;" role="button" style="display:inline-block; width: 30px; padding: 5px 5px;">+</a>
                              <a class="btn btn-default" href="#" onclick="removeElement(this); return false;" role="button" style="display:inline-block;  width: 30px; padding: 5px 5px;">-</a>
                            </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                              <td>
                                  <input class="ingredients_quantity" onchange="storeIngredientsData(this)" name="recipe[ingredients][][quantity]" placeholder='{% trs "Amount" nowrap %}' type="text" class="form-control" style="width: 60px; display: inline-block" value="{{item.quantity}}" />
                                  <input class="ingredients_measurements" onchange="storeIngredientsData(this)" name="recipe[ingredients][][measurements]" placeholder='{% trs "Measurements" nowrap %}' type="text" class="form-control" style="width: 70px; display: inline-block" value="{{item.measurements}}" />
                                  <input class="ingredients_name" onchange="storeIngredientsData(this)" name="recipe[ingredients][][name]" placeholder='{% trs "Name" nowrap %}' type="text" class="form-control" style="width: 120px; display: inline-block" value="{{item.name}}" />
                              </td>
                              <td>
                                <a class="btn btn-default" href="#" onclick="addElement(this); return false;" role="button" style="display:inline-block; width: 30px; padding: 5px 5px;">+</a>
                                <a class="btn btn-default" href="#" onclick="removeElement(this); return false;" role="button" style="display:inline-block;  width: 30px; padding: 5px 5px;">-</a>
                              </td>
                            </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-center" style="padding-top:50px">
              <button class="btn btn-default btn-primary btn-lg" type="submit">{% tr %}Submit{% endtr %}</button>
              <a href="/" class="btn btn-default btn-lg" type="submit">{% tr %}Cancel{% endtr %}</a>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
    function verifyCategory(list) {
        if (list.value == '')
            $('#new_category_field').show();
        else
            $('#new_category_field').hide();
    }

    function resetValues(node) {
        if (node.nodeType == 1 && ['input', 'textarea'].indexOf(node.nodeName.toLowerCase()) != -1)
            node.value = '';

        var array = Array.from(node.children);
        array.forEach(function(child) {
            if (child.nodeType == 1)
                resetValues(child);
        });
    }

    function addElement(element) {
        var row = element.parentElement.parentElement;
        var table = row.parentElement;
        var newRow = row.cloneNode(true);
        resetValues(newRow);
        //console.log(newRow);
        table.insertBefore(newRow, row.nextSibling);
    }

    function removeElement(element) {
        var row = element.parentElement.parentElement;
        var table = row.parentElement;
        table.removeChild(row);
    }

    function storeDirectionsData(element){
        var json = [];
        $("textarea.direction").each(function(){
           json.push(jQuery(this).val());
        });
        $('#id_directions').val(JSON.stringify(json));
    }

    function storeIngredientsData(element){
        var quantity = [];
        var measurements = [];
        var name = [];
        var json = [];
        $(".ingredients_quantity").each(function(){
           quantity.push(jQuery(this).val());
        });
        $(".ingredients_measurements").each(function(){
           measurements.push(jQuery(this).val());
        });
        $(".ingredients_name").each(function(){
           name.push(jQuery(this).val());
        });
        for(i in quantity){
            json.push({quantity:quantity[i], measurements: measurements[i], name: name[i]});
        }
        $('#id_ingredients').val(JSON.stringify(json));
    }
    storeDirectionsData();
    storeIngredientsData();
</script>
{% endblock %}
